.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* media query  */ 

@media screen and (max-width: 420px) {
  h1 {
    font-size: 3.5em;
  }

  .row h3 {
    margin: 5px;
  }
/* lezioni  */
  #lezioni .row  {
    background-color: lightgoldenrodyellow;
  }


  #lezioni .row > .left,
  #lezioni .row > .right {
    display: block;
    width: 100%;
    font-size: 1.7em;
  }
  #lezioni .row > .left {
    margin-bottom: 1.5em;
  }
/* steps  */
  #steps .row {
   background-color: white;
   margin-top: 0;
   font-size: 1.3em;
  }

  #steps .row >.left,
  #steps .row >.central,
  #steps .row >.right {
   display: block;
   width: 100%;
   font-size: 1.6em;
  }
  
  #steps .row img {
    margin-top: 1.5em;
  }
/* why  */
  #why .row {
    margin-top: 0;
    background-color: lightgoldenrodyellow;
    font-size: 1.8em;
  }
  #why .row h1 {
    padding: 0.5em 0;
    margin-bottom: 0;
    font-size: 2em;
  }

  #why .row img {
    padding: 2.5em;
    margin-top: 1.5em;
  }

  #why .row >.first,
  #why .row >.second,
  #why .row >.third {
   width: 100%;
   margin-top: 0;
  }
}